body {
    background-color: #265176; /* Color de fondo */
    background-image: url(/imagenes/python_logo.png); /* Imagen de fondo */
    background-repeat: no-repeat; /* Que no se repita la imagen */
    background-position: center; /* Centrar la imagen */
     /* Mantener la imagen fija al bajar */
}

.imagen-esquina {
    position: absolute; /* Posicionamiento absoluto */
    width: 50px; /* Ancho de la imagen */   
}
h1 {
    text-align: center; /* Centrar */
    color: rgb(255, 255, 255); /* Color */
    font-family: 'Victor Mono', sans-serif; /* Fuente de letra */
    animation: bounce 1s; /* Animación */
}

.menu {
    display: flex;
    justify-content: center; /* Centrar la barra */
    background-color: #1e2933; /* Color de fondo de la barra */
    border-radius: 30px; /* Bordes */
    box-shadow: 0 4px 8px #ffd859; /* Sombra */
}

.menu ul {
    list-style-type: none; /* Quitar viñetas */
    margin: 0; /* Eliminar márgenes */
    display: flex; /* Poner en horizontal */
}

.menu li {
    margin: 20px; /* Espacio entre los elementos */
}

.menu a {
    color: #ffd859; /* Color del texto de los enlaces */
    text-decoration: none; /* Quitar subrayado */
    padding: 20px; /* Espacio */
    border-radius: 30px; /* Bordes redondeados para enlaces */
    transition: background-color 0.3s, transform 0.3s; /* Efecto */
    font-family: 'Victor Mono', sans-serif; /* Fuente para los enlaces */
}

.menu a:hover {
    background-color: #ffffff; /* Cambiar el fondo al poner el mouse */
}

.Informacion {
    text-align: center; /* Centrar contenido */
}

h2, h3 {
    padding: 20px; /* Espacio */
    color: #ffffff; /* Color */
    font-family: 'Victor Mono', sans-serif; /* Fuente */
}

h4{
    color: #ffd343;
}

.imagen-ajustada {
    align-items: center;
    width: 75%; /* Ocupa el 100% del ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}

